<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" [routerLink]="['/']">HMS</a>

  <!-- Toggler/collapsibe Button -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavbar"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav" [hidden]="userType">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login']">Login</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/addAppointment']">Book appointment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login']">Delete Appointment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/viewAppointments']">View Appointments</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/register']">Register</a>
      </li>

      <li class="nav-item" *ngIf="isloggedIn">
        <!--Add functionality for handling this case -->
        <a class="nav-link" [routerLink]="['/home']">Logout</a>
      </li>
    </ul>
  </div>
</nav>
