<br>
<h2 class="text-center">All Doctors List</h2>
<br><br>
<table class="table table-hover">
  <thead>
  <tr>
      <th>Patient Id</th>
      <th>Name</th>
      <th>DOB</th>
      <th>Address</th>
      <th>emailId</th>
      <th>History</th>
      <th>Action </th>
      
  </tr>
  </thead>

  <tbody>
      <tr *ngFor="let obj of aList;let i=index">
          <td>{{ obj.id }}</td>
          <td>{{ obj.firstName }} {{ " "}} {{obj.lastName}}</td>
          <td>{{ obj.dateOfBirth }}</td>
          <td>{{ obj.address }}</td>
          <td>{{ obj.email }}</td>
          <td><a [routerLink]="['/doctor/viewPatient']" [queryParams]="{id:obj.id}">View</a></td>
          <td><a (click)=deletePatient(obj.id) class="text-error" style="color:red"> Delete </a></td>
      </tr>
  </tbody>
</table>